body {
	float: top;
	margin:0!important; 
    padding:0!important;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 2.25vmin;
	background: #546E09!important;
}

#menu {
	bottom: 5%;
	right: 10%;
	color: white;
}

#column {
    margin:0;
    padding:0;
}

#banner a {
	float: bottom;
	color: white;
	text-decoration: none;
}

#banner h1, h2 {
	margin:0;
	font-weight: normal;
	color: white;
}

#banner h3 {
	float: bottom;
	margin: 0;
	font-weight: normal;
	color: white;
}

#banner_text {
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 1%;
}

header {
	margin:0;
	padding:0;
    padding-bottom:1%;
	width: 100%;
	height: 15%;
	color: white;
	background: #101010; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#101010, #404040,#101010); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#101010, #404040,#101010); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#101010, #404040,#101010); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#101010, #404040,#101010); /* Standard syntax (must be last) */
    overflow:hidden;
}

main h1, main h2, main h3 {
	font-weight: normal;
	color: #8CB70E;
}

main a {
    color: #546E09;
}

#main_text {
	margin-right: 5%;
	margin-left: 5%;
    margin-bottom: 5%;
}

main {
	text-align:left;
	margin:0;
    padding:0;
	color: #000000;
	background-color: #ECF1E4;
    overflow:hidden;
}

.sidebar ul {
    margin:0;
    padding:0;
    list-style:none;
}

.sidebar h2 {
	font-size: 2.75vmin;
	font-weight: normal;
}

.sidebar a {
    color: #546E09;
	text-align: left;
	text-decoration: none;
	font-weight: bold;
}

.sidebar a:hover { 
    text-decoration: none; 
}

.animal-list li {
    margin:0;
    padding:12px 0px;
    border-bottom:1px dashed;
}

footer {
    margin:0;
    padding:0;
	color: #FFFFFF;
	background-color: #202020;
    display:block;
    overflow:hidden;
}